body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
header {
  color: #dd7575;
  background-color: #ebc2c2;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: sticky;
  padding: 20px 40px;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 30px;
  padding: 15px 10px 15px 10px;
  width: 100%;
  color: #dd7575;
  background-color: #ebc2c2;
  text-align: center;
}

.playlist_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
  max-width: 1200px;
}

.playlist_card {
  margin: 10px 50px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #dd7575;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.playlist_card:hover {
  background: #eb9f9f;
  border: 2px solid #eb9f9f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.modal_song_img {
  display: inline-block;
}

.playlist_modal {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: auto;
}

.playlist_modal div {
  text-align: center;
  justify-content: center;
}

.playlist_modal img {
  margin-right: 20px;
}

.song_modal {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: start;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal_songs {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 2%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.like_button {
  background: white;
  border: 2px solid red;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.like_button:hover {
  background: #eb9f9f;
  border: 3px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#shuffle {
  padding: 15px 40px;
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#shuffle:hover {
  padding: 15px 40px;
  background-color: #048f5c; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.button-class {
  margin-top: 30px;
  border: none;
  color: #dd7575;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

#add_button {
  display: flex;
  padding: 20px;
  margin: 20px auto;
  justify-content: center;
  background-color: white;

}

.container {
  display: flex;
  padding: 20px;
  margin: 20px auto;
  justify-content: center;
}

.featured_container {
  display: flex;
  justify-content: center;
  gap: 500px;
  width: 100%;
  align-items: flex-start;
  margin: 40px auto;
  padding: 0 20px;
}

.featured_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featured_playlist_img {
  width: 500px;
  height: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  border-radius: 12px;
}

.featured_playlist_title {
  font-weight: bold;
  font-size: 30px;
}

.featured_playlist_author {
  font-size: 20px;
}

.featured_right {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  margin-left: 20px;
  flex: 1;
  max-width: 700px;
}

.featured_song_info {
  display: flex;
  flex-direction: column;
}

.featured_songs_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.featured_song {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #eb9f9f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.featured_song:hover {
  background-color: #dd7575;
}

.featured_song_name {
  font-size: 20px;
}

.featured_artist {
  font-size: 17px;
}

.featured_song_img {
  margin-right: 15px;
}

#add_song_btn{
  background-color: rgb(97, 204, 97);
  margin-top: 10px;
  margin-bottom: 10px;
}